<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

  <hr>

  <!--Call to action-->
  <div class="call-to-action text-center py-3">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <h5 style="color: white">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sign up!</a>
      </li>
    </ul>
    <!--Social buttons-->
    <div class="text-center mb-8">
      <a href="#" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
        <i class="fa fa-facebook social-icon fa-2x"> </i>
      </a>
      <a href="#" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
        <i class="fa fa-twitter social-icon fa-2x"> </i>
      </a>
      <a href="#" class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
        <i class="fa fa-google-plus social-icon fa-2x"> </i>
      </a> &nbsp;
      <a href="#" class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
        <i class="fa fa-linkedin social-icon fa-2x"> </i>
      </a>
      <a href="#" class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
        <i class="fa fa-github social-icon fa-2x"> </i>
      </a>
      <a href="#" class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
        <i class="fa fa-pinterest social-icon fa-2x"> </i>
      </a>
      <a href="#" class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
        <i class="fa fa-instagram social-icon fa-2x"> </i>
      </a>

    </div>
    <!--/.Social buttons-->
  </div>
  <!--/.Call to action-->

  <hr>

  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      <span style="color: white"> © 2017 Copyright: </span>
      <a href=""> wms.com </a>

    </div>
  </div>
  <!--/.Copyright-->
</footer>