<div class = "container">

  <p class = "h1">Upcoming Angular 5 Workshops</p>

<div>__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</div>
<br><br><br>
<div class = "well well-lg">
  <h3>{{name}}</h3>
  <p>Date : {{date | date:"dd/MM/yy"}}</p>
  <p>Price : {{price | currency:'USD':true:'.2-2'}}</p>
  <p>Time : {{date | date: "shortTime"}}</p>
  <p>Location : {{location}}</p>
</div>
</div>